/*BODY START*/
body {
    overflow-y:hidden;
}
/*BODY END*/
/*HEADER*/
header .navLogo {
    width:50px;
    height:50px;
    object-fit: cover;
}
/*CONTENT*/
#content {
    position:relative;
    margin-left: 16px;
    margin-right: 16px;
    user-select:none;
}

.start:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 5;
    background: url('../images/startImg1.jpg') no-repeat center;
    background-size: cover;
}

.end:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 5;
    background: url('../images/game_over.jpg') no-repeat center;
}

.victory:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 5;
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(118, 0, 0, 0.45)), url('../images/victory.jpg') no-repeat center;
    background-size:cover;
}


#content  .play {
    position: relative;
    z-index:5;
    padding: 10px 50px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    opacity:0.7;
    transform: translateY(227px);
    transition: 0.3s ease;
}
#content  .play:hover {
    opacity:1;
}

#content .gameInfo {
    position:relative;
    z-index:5;
    padding-top:30px;
    transform:translateY(47px);
    color:white;
}

#content .infoBlock {
    width:100px;
    font-size:54px;
}

#content .gameZone {
    position:relative;
    z-index:3;
    height: 320px;
    margin-right:67px;
    margin-left:16px;
    padding:0;
    background:url('../images/rock.jpg') no-repeat center;
    background-size: cover;
    cursor:none;
}

#content .gameZone:after {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:rgba(0,0,0,0.5);
    z-index:2;
}

#content .gameZone .active {
    position:absolute;
    width: 60px;
    height: 90px;
    bottom:0;
}

#content .gameZone .active img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
#content .gameZone .activeBull {
    position: absolute;
    height: 35px;
    width: 6px;
    bottom: 87px;
}

#content .gameZone ._target {
    position:absolute;
    width:33px;
    object-fit:cover;
    /*transition: 0.003s ease;*/
}

#content .arsenal  {
    border:10px solid;
    border-image:url('../images/border_img.jpg') 30;
}

#content .arsenal .bullet {
    width: 33px;
    height: 20px;
    object-fit: contain;
    margin-top: 4px;
    margin-right: 8px;
}

#content .tankPark {
    background-size: cover;
    height: 122px;
}

#content .tankPark .tank {
    display:inline-block;
    margin-top:10px;
    margin-right:50px;
}

#content .tankPark .tank {
    cursor:pointer;
}

#content .tankPark .tank img {
    width: 70px;
    height: 90px;
    object-fit: contain;
}

